.input-wrapper{
    margin-bottom: 1.5rem;
}

.label-input{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.ant-input, input#date{
    font-size: 1.2rem;
    padding: 0rem .5rem;
}
