.signup-wrapper{
    width: 70%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem;
}

.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}