.my-card{
    box-shadow: var(--shadow);
    margin: 1rem;
    border-radius: 0.5rem;
    min-width: 300px;
    flex: 1;
}

.my-card h2{
    font-family: 'Montserrat';
}

.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 600;

}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16px;
}

.my-card p{
    margin: 0;
}