@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --theme: #2398a5;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

input{
  font-family: 'Montserrat', sans-serif;
}


/* for input fields */
.custom-input{
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  padding: 0.5rem 0rem;
  font-size: 0.8rem;
  opacity: 0.8;
}

.custom-input:focus{
  outline: none;
  opacity: 1;
  transition: all 0.2sec;
}

.custom-input::placeholder{
  color:gray;
}

.input-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.input-flex input{
  width: 100%;
  padding: 0.5rem;
  border: 0;
}

.input-flex input:focus{
  outline:none !important;
}

.select-input{
  width: 30%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.select-input >div{
  border: 0px solid #fff !important;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.chart-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto; 
}

.graph{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65vw;
  /* min-width: 360px; */
  justify-content: center;
  box-shadow: var(--shadow); 
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1.5rem;
}

.pie-chart{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  /* min-width: 360px; */
  height: 485px;
  justify-content: center;
  box-shadow: var(--shadow); 
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1.5rem;
}

.ant-table-wrapper{
  font-size: 1rem;
}

@media screen and (max-width: 780px) {
  .chart-wrapper {
    flex-direction: column; /* Change to a column layout on smaller screens */
  }
  .graph{
    width: 480px;
  }
  .pie-chart{
    width: 480px;
  }
  .table-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main-table{
    max-width: 100%; /* Set a maximum width for the container */
    overflow-x: auto;
    table-layout: fixed;
  }

}

@media screen and (max-width: 500px) {
  .graph{
    width: 360px;
  }
  .pie-chart{
    width: 360px;
  }
}
